<div class="jumbotron text-center">
  <h1>Tout les évènements</h1>
</div>

<table class="table table-bordered table-hover table-striped">
  <thead>
    <tr>
      <th>Nom des évènement</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% for (var event of events) { %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.description %></td>
        <td>
            <a href="/events/<%= event.slug %>" class="btn btn-sm btn-primary">Voir</a>
            <a href="/events/<%= event.slug %>/edit" class="btn btn-sm btn-primary">Modifier</a>
            <a href="/events/<%= event.slug %>/delete" class="btn btn-sm btn-danger">Supprimer</a>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>